*.pyc
.DS_Store
venv/
virtual_usb/
secrets.py
__pycache__

certs_dbdump.csv

data/unsigned_certs/
data/signed_certs/
data/hashed_certs/
data/unsigned_txs/
data/unsent_txs/
data/sent_txs/
archive/

!data/unsigned_certs/.*
!data/signed_certs/.*
!data/hashed_certs/.*
!data/unsigned_txs/.*
!data/unsent_txs/.*
!data/sent_txs/.*
!archive/.*
