cert-core>=3.0.0
cert-schema>=3.10.0
blockcerts-merkletools>=1.0.4
configargparse==0.13.0
glob2==0.6
mock==2.0.0
requests[security]>=2.18.4
pycoin==0.92.20241201
pyld==2.0.3
safe-pysha3>=1.0.2
python-bitcoinlib>=0.10.1
tox>=3.0.0
jsonschema>=4.0.0
lds-merkle-proof-2019>=0.1.0
connexion<3.0.0
setuptools>=75.8.0
